@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    font-family: "Lato", serif;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    font-family: "Lato", serif;
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}

svg {
    overflow: visible;
}

.ua-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 480px;
}

@media screen and (max-width: 768px) {
    .ua-container {
        scale: 0.6;
    }
}

.region {
    fill: #ddd;
    stroke: #333;
    cursor: pointer;
    transition: all 0.3s;
}

.region-active {
    fill: #c2dbfd !important;
}

.region:hover {
    fill: #aaa;
    transform: translateY(-5px) translateX(5px);
}

.dark .ck-toolbar {
    background-color: #1f2937 !important; /* Темно-серый */
    border-color: #374151 !important;
}

.dark .ck-content {
    background-color: #1e293b !important; /* Темный фон */
    color: #ffffff !important; /* Белый текст */
    border-color: #374151 !important;
}

.dark .ck-button {
    filter: invert(1); /* Делаем иконки белыми */
}

.dark .ck-placeholder {
    color: #9ca3af !important;
}

.dark .ck-sticky-panel__content {
    border-color: #374151 !important;
}
